.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid red;
  width: 50vh;
  height: 50vh;
}

.square {
  border: 2px solid #222;
  background: #fff;
  color: #222;
  font-size: 2rem;
  cursor: pointer;
  
}

.square.highlight {
  background: yellow;
  color: red;
  font-weight: bold;
}